//Colours

$btn-colour: white;
$black: black;
$green: green;
$opacity-green: rgba(0,128,0,0.345);
$orange: orange;
$opacity-orange: rgba(255,165,0,0.345);
$red: red;
$opacity-red: rgba(255, 0, 0, 0.345);