//Colours

$btn-colour: white;
$black: black;
$green: green;
$opacity-green: rgb(0, 38, 0);
$orange: orange;
$opacity-orange: rgb(116, 76, 1);
$red: red;
$opacity-red: rgb(117, 1, 1);

//Breakpoints
$sm:576px; 
$m:768px;  
$lg:993px; 
$xl:1260px; 