.picture-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
    margin-bottom:10px;
    @include media(x-large){
      @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-evenly
                );
    };
    @extend %vertical_margin;
    

};

.collection-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
}

#email{
  width:75%;
  @extend %vertical_margin;
}

#select{
  @extend %vertical_margin;
}

