.picture-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
    margin-bottom:10px;
    @include media(x-large){
      @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
    };
   
    

};

.collection-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: null,
                  $flex-justify: space-between
                );
}

#email{
  width:76%;
  @extend %vertical_margin;
}

#select{
  @extend %vertical_margin;
}

.error-box{
  @extend %vertical_margin;
  padding:5px;
  font-weight: bold;
  background-color: $red;
  width: calc(75% + 49px);
  display:none;
}

.error-box#collection-delete-check{
  width: 100%;
}

.success-box{
  @extend %vertical_margin;
  padding:5px;
  font-weight: bold;
  background-color: $green;
  width: calc(75% + 49px);
  display:none;
}

// .static-input{
//   position: relative;
//   left: 30%;
//   width: 46%;
// }

.img-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
}