.picture-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
    margin-bottom:10px;
    // img{
    //   background-size: cover;
    // }

};

.collection-box{
    border: 2px solid;
    @include flex($flex-display:flex,
                  $flex-direction: column,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-between
                );
}
