.container{
    margin-left: 5%;
    margin-right: 5%;
}

%vertical_margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.collection-pictures{
    div{ //Flex allows the assigned images to appear in row and the wrap 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}