*{
    box-sizing:border-box;
    font-family: 'open sans';
}
button{
    border-radius: 5px;
    border:none;
    color:$btn-colour;
    cursor: pointer;
       
}

img{
    max-width: 100%;
}

small{
    color: $red;
    display:none;
}

span{
    display: none;
}

html{
    background-color: #eee9ee;
}

header{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

p{
    img{
        max-height: 30%;
    }
    
}

