*{
    box-sizing:border-box;
    font-family: 'open sans';
}
button{
    border-radius: 5px;
    border: none;
    color: $btn-colour;
    cursor: pointer;
       
}

img{
    max-width: 100%;
}

small{
    color: white;
    //display: none;
}

span{
    display: none; //Prevents the text used for comparisons from being displayed
}

html{
    background-color: #eee9ee;
}

header{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}


