.green-btn{
    @include hover($green,$opacity-green);
}
.orange-btn{
    @include hover($orange,$opacity-orange);
}
.red-btn{
    @include hover($red,$opacity-red);
    @extend %vertical_margin;
}

.flex-btn{
    @include flex($flex-display:flex,
                  $flex-direction: row,
                  $flex-wrap: wrap,
                  $flex-align: center,
                  $flex-justify: space-around
                );
    margin-top:10px;
    width:100%;
    margin-bottom:10px;
    
}